
body{
  max-width: 1024px;
  max-height: 768px;
}
html,body,
header,
#intro{
  height: 100%;

}
#intro{
  background-color: #05668D;
}
#liability{
  height: 100%;
  background-image: url("/images/liability-underlay.jpg");
  background-position:center;
  background-repeat:no-repeat;

}
#emergency{
  height: 100%;
  background-color:#F45B69;
}
.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}
.smalltitle-container{
  max-height: 150px;
}

.col-md-12 {
  color: #E4FDE1;
  text-align: left;
  font-family: barlow;
  padding-left: 77px !important;
  padding-bottom: 20px !important;
  font-size: 20px;
  font-style:  Condensed Thin;
}
.col-md-12 hr{
  background: #E4FDE1;
  position: relative;
  width: 200px;
  align-self: flex-start;
  margin: 5px;
}
.col-title h1{
  max-height: 145px;
  max-width: auto;
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: bold condensed;
  align-items: center;
}
.col-title em{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-style: italic condensed;
    font-weight: lighter;
    align-items: center;
}
.header-content sub{
  color:white;
  align-items: flex-start;
  color: #E4FDE1;
  text-align: left;
  font-family: barlow;
  font-style:  Condensed Thin;
}
.header-content img{
  padding-top: 100px;
}

.leftbtn{
  font-family: barlow;
  font-style: condensed;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #A5BE00;
  height: 81px;
  width: 208px;
  margin-top: 80px;
  padding: none;



}
 .rightbtn{
  font-family: barlow;
  font-style: condensed;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #F45B69;
  height: 81px;
  width: 251px;
  margin-top: 80px;
  padding: none;

}
.altbtn-LG{
  font-family: barlow;
  font-style: condensed;
  font-weight: bold;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  height: 81px;
  width: 317px;
  margin-top: 80px;
  border-color: #E4FDE1;
  background: none;
  color: #E4FDE1;
  font-size: 42px;


}
.col-2{
  height: 100px;
}
.carousel-inner{
  max-height: 480px;
}

.container-fluid p,h3{
  font-family: barlow;
  font-style:  Condensed Thin;
  color: #E4FDE1;
  padding-left: 79px;
  padding-right: 79px;
  font-size: 30px;
  text-align:left;


}
.col-carousel{
  background-image: contain;
}
.carousel-inner{
  width: 480px;
  height: 480px;
}
.col-footer{
  max-width: 700px;
}
body {
  opacity: 1;
  transition: 1.5s opacity;
}

body.fade {
    opacity: 0.5;
    transition: ease-in-out;
    transition-duration: 400;

}
.footer-container p{
  font-weight: bold;
  font-family: Barlow;
  font-style: semi condensed;
  font-size: 27px;
  text-align: center;
  color: black

}
.col-hero {
  max-height: 318px;
  max-width: auto;

}
.col-hero h1{
  text-align: center;
  font-size: 130px;
  font-family: barlow;
  font-style: bold condensed;
  align-items: center;
}
.col-hero em{
  text-align: center;
  font-size: 130px;
  font-family: barlow;
  font-style: italic condensed;
  font-weight: lighter;
  align-items: center;
}
.col-hero{
  margin-top: 181px;
}
.col-quote{
  height: 162;
  width: auto;
}
.col-quote {
  font-size: 27px;
  margin-bottom: 50px;
  text-align: center;
  font-family: barlow;
  font-style:  condensed italic;
  color: black;

}
.col-quote p{
  font-size: 27px;
  text-align: center;
  font-family: barlow;
  font-weight: bold;
  color: black;
  margin: 0;

}
.col-progbar .progress-bar{
  background-color: #05668D;
  width: 350px;
  border: 50px;
  height: 80px;
  border-color: black;

}
.col-progbar .progress{
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 80px;
  width: 350;
  border: black solid;
  border-radius: 1px;
  border-width: 5px;
}
.col-progbar{
  width: 350px;
}
.col-spacer{
  height: 5px;
}
.col align-self-center{
  width:238px;
}
.container-span{
  align-items: center;
  height: 100%;
  width: 100%;
}
.modal-dialog{
  background-color: none;
}
.modal-content{
  border: none;
  border: #F45B69;
}
.modal-content .modal-header{
  font-family: barlow;
  font-weight: bold;
  background-color: #F45B69;
  border-color: #F45B69;
  color: white;
  border-radius: none;
}
.modal-content .modal-body{
  font-family: barlow;
  font-weight: bold;
  color: white;
  background-color: #F45B69;
  border: none;
}
.modal-content .modal-footer{
  font-family: barlow;
  font-weight: bold;
  background-color: #F45B69;
  color: white;
  border: none;
}
#exampleModalLong{
  background-color: 0,0,0 .05;
  border-radius: 1px;
  border-color: white;

}
.modal-content .btn-confirmcall{
  color: red;
  background-color: white;
  border: solid red;
  width: 174px;
  height: 52px;
  font-size: 30px;
  font-weight: bold;
  font-family: barlow;
  font-style: condensed;
}
.modal-content .btn-cancelcall{
  color: white;
  background-color: black;
  border: solid white;
  width: 139px;
  height: 52px;
  font-size: 30px;
  font-weight: bold;
  font-family: barlow;
  font-style: condensed;
}
.modal-header .modal-title{
  font-size: 48px;
  font-weight: bold;
  font-family: barlow;
  font-style: semi-condensed;
  align-items: flex-end;
  position: relative;
  color: #EBF2FA;
  padding-left: 119px;
}
.modal-body p{
  font-size: 20px;
  font-weight: medium;
  font-family: barlow;
  font-style: condensed;
  color: #EBF2FA;
  width: 343px;
  float: right;
  height: auto;
}
.modal-body img{
  width: 102px;
  height: 110px;
}
.top-logo h1{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: bold condensed;
  color: #EBF2FA;
  align-items: center;
}
.top-logo em{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: italic condensed;
  font-weight: lighter;
  color: #EBF2FA;
  align-items: center;
}
.top-logo-gr h1{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: bold condensed;
  color: #E4FDE1;
  align-items: center;
}
.top-logo-gr em{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: italic condensed;
  font-weight: lighter;
  color: .top-logo em{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-style: italic condensed;
    font-weight: lighter;
    color: #EBF2FA;
    align-items: center;
  };
  align-items: center;
}
.callstatus h5{
  text-align: center;
  align-items: center;
  color: white;
  font-family: barlow;
  font-weight: lighter;
  font-style: italic;
}
.subheader-intro p{
  font-size: 30px;
  color: #E4FDE1;


}
.subheader-intro dl{
  font-size: 20px;
  font-style: lighter;
}
.subheader-intro dl,hr,p{
  text-align: left;
  color: #E4FDE1;
  font-family: barlow;
  font-style: condensed;
}
.subheader-intro hr{
  margin: 0 auto;
  background-color: #E4FDE1;
  font-size: 30px;
}
.subheader-intro h3{
  text-align: left;
  color: #E4FDE1;
  font-family: barlow;
  font-style: condensed;
  padding: 0;
}
#spinner-border {
  border-color: white;
  width: 136px;
  height: 136px;

}
.emergency-message h4{
  color: #EBF2FA;
  font-family: barlow;
  font-style: condensed italic;
  font-size: 25px;
  align-items: center;

}
.emergency-message h3{
  color: #EBF2FA;
  font-family: barlow;
  font-style:bold italic;
  font-size: 25px;
}
.emergency-message hr{
  margin: 0 auto;
  background-color: #EBF2FA;
  width: 850px;
  font-size: 30px;
}
.fivesteps h1{
  color: #EBF2FA;
  font-family: barlow;
  font-style: condensed italic;
  font-size: 30px;
  text-align: center;
}
 .card-body p{
  color: black;
  font-family: barlow;
  font-size: 15px;
  line-height: 20px;
  border: none;

}
.card-body h5{
 color: #F45B69;
 font-family: barlow;
 font-size: 20px;
 text-align: left;
 border: none;
}
.card .card-body {
  background-color: #EBF2FA;
  padding: 5px;

}
.card{
  padding: 5px;
  background-color: #EBF2FA;

}
.step-cards .card {
  width: 159px;
  height: 350px;
  padding: none;
  background-color: #EBF2FA;
  border-radius: 0;
}
.card-img-top{
  width: 159px;
  height: 114px;
  border: none;
  background-color: #EBF2FA;
}
h5.card-title {
  margin: 3px;
  font-family: barlow;
  font-size: 18px;
  font-weight: bold;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.card-title{
  margin: 0 ;

}
.microphone{
  width: auto;
  height: 119px;
  margin-bottom: 10px;

  -webkit-animation: pulse 1.5s infinite ease-in-out;
    -o-animation: pulse 1.5s infinite ease-in-out;
    -ms-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.5s infinite ease-in-out;
    animation: pulse 1.5s infinite ease-in-out;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}
.microphone-inactive{
  width: auto;
  height: 119px;
  margin-bottom: 10px;
  opacity: .3;
}
.question-intro h2{
  color: #E4FDE1;
  margin-top: 200px;
  align-items: center;
  font-family: barlow;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 150px;
  text-align: center;

}
.subheader-liability {

}
.subheader-liability p{
  font-size: 30px;

}
.subheader-liability dl{
  font-size: 20px;
  font-style: lighter;
}
.subheader-liability dl,hr,p{
  text-align: left;
  color: #05668D;
  font-family: barlow;
  font-style: condensed;
}
.subheader-liability hr{
  margin: 0 auto;
  background-color: #05668D;
  font-size: 30px;
}
.subheader-liability h3{
  text-align: left;
  color: #05668D;
  font-family: barlow;
  font-style: condensed;
  padding: 0;
}
  .top-logo-db h1{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-style: bold condensed;
    color: #05668D;
    align-items: center;
  }
  .top-logo-db em{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-style: italic condensed;
    font-weight: lighter;
    color: .top-logo em{
      text-align: center;
      font-size: 59px;
      font-family: barlow;
      font-style: italic condensed;
      font-weight: lighter;
      color: #05668D;
      align-items: center;
    };
    align-items: center;
  }
