
body{
  max-width: 1024px;
  max-height: 768px;
  margin: 0;

}
html,body,
#intro{
  height: 100%;


}
#intro{
  background-color: #05668D;
}
#liability{
  height: 100%;
  background-image: url("/images/liability-underlay.jpg");
  background-position:center;
  background-repeat:no-repeat;

}
#emergency{
  height: 100%;
  background-color:#F45B69;
}
#LovedOne{
  background-color: #EBF2FA;
  height: 768px;
  width: 1024px;
  position: absolute;

}

#Addict{
  background-color:#E4FDE1;
  height: 768px;
  width: 1024px;
  position: absolute;
}
#POA{
  background-color:#05668D;
  height: 768px;
  width: 1024px;
  position: absolute;
}
#Goodbye{
  background-image: url("images/goodbye.png");
  background-repeat: no-repeat;
  background-position: cover;
  height: 768px;
  width: 1024px;
  position: absolute;
}
.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}
.smalltitle-container{
  max-height: 150px;
}

.col-md-12 {
  color: #E4FDE1;
  text-align: left;
  font-family: barlow;
  padding-left: 77px !important;
  padding-bottom: 20px !important;
  font-size: 20px;
  font-weight:  lighter;
}
.col-md-12 hr{
  background: #E4FDE1;
  position: relative;
  width: 200px;
  align-self: flex-start;
  margin: 5px;
}
.col-title h1{
  max-height: 145px;
  max-width: auto;
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-weight: bold;
  align-items: center;
}
.col-title em{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-style: italic ;
    font-weight: lighter;
    align-items: center;
}

.header-content sub{
  color:white;
  align-items: flex-start;
  color: #E4FDE1;
  text-align: left;
  font-family: barlow;
  font-style:  Thin;
}
.header-content img{
  padding-top: 100px;
}

.leftbtn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #A5BE00;
  height: 81px;
  width: 208px;
  margin-top: 40px;
  padding: none;



}
 .rightbtn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #F45B69;
  height: 81px;
  width: 251px;
  margin-top: 40px;
  padding: none;

}
.printclosebtn .btn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 27px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #A5BE00;
  height: 81px;
  width: 208px;
  float: right;

}
.closebtn .btn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 40px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #F45B69;
  height: 81px;
  width: 208px;

}
.altbtn-LG{
  font-family: barlow;
  font-weight: bold;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  height: 81px;
  width: 317px;
  margin-top: 40px;
  border-color: #E4FDE1;
  background: none;
  color: #E4FDE1;
  font-size: 35px;



}
.POA-buttons{

}
.col-2{
  height: 100px;
}
.carousel-inner{
  max-height: 480px;
}

.col-carousel{
  background-image: contain;
}
.carousel-inner{
  width: 480px;
  height: 480px;
}
.col-footer{
  max-width: 700px;
}
body {
  opacity: 1;
  transition: 1.5s opacity;
}

body.fade {
    opacity: 0.5;
    transition: ease-in-out;
    transition-duration: 400;

}
.footer-container p{
  font-weight: bold;
  font-family: Barlow;
  font-size: 27px;
  text-align: center;
  color: black

}
.col-hero {
  max-height: 318px;
  max-width: auto;

}
.col-hero h1{
  text-align: center;
  font-size: 130px;
  font-family: barlow;
  font-weight: bold;
  align-items: center;
}
.col-hero em{
  text-align: center;
  font-size: 130px;
  font-family: barlow;
  font-style: italic ;
  font-weight: lighter;
  align-items: center;
}
.col-hero{
  margin-top: 181px;
}
.col-quote{
  height: 162;
  width: auto;
}
.col-quote {
  font-size: 27px;
  margin-bottom: 50px;
  text-align: center;
  font-family: barlow;
  font-style:   italic;
  color: black;

}
.col-quote p{
  font-size: 27px;
  text-align: center;
  font-family: barlow;
  font-weight: bold;
  color: black;
  margin: 0;

}
.col-progbar .progress-bar{
  background-color: #05668D;
  width: 350px;
  border: 50px;
  height: 80px;
  border-color: black;

}
.col-progbar .progress{
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 80px;
  width: 350;
  border: black solid;
  border-radius: 1px;
  border-width: 5px;
}
.col-progbar{
  width: 350px;
}
.col-spacer{
  height: 5px;
}
.col align-self-center{
  width:238px;
}
.container-span{
  align-items: center;
  height: 100%;
  width: 100%;
}
.modal-title2 h1{
  color: white;
  text-align: left;
}
.modal-header2{
  text-align: center;
  font-size: 50px;
  font-family: barlow;
  font-weight: lighter;
  font-style: italic;
  color: #EBF2FA;
  align-items: left;
  color: #EBF2FA;
}
.modal-header2 p{
  color: #EBF2FA;
}
.modal-header2 .close{
  color: #EBF2FA;
  opacity: 1;
  font-size: 60px;
  margin-right: 10px;
}
.modal-header2 em{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  color: #EBF2FA;
  font-weight: bold;
  color: black;
  align-items: left;
}
.modal-title2 h1{
  color: black;
  text-align: left;
}
.modal-content2{
  background-color: #A5BE00;
}
.modal-content2 .modal-body2 p{
  color:#EBF2FA;
  padding:50px;
  font-size: 20px;
}
.modal-body2 img{
  max-width: 238px;
  max-height: 135px;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 120px;
}
.modal-dialog
 .modal-POA .modal-content{
  border: #A5BE00;
  background-color: #A5BE00;

}
.modal-dialog{
  background-color: none;
  padding: 10px;
}
.modal-content{
  border: none;
  border: #F45B69;
}
.modal-content .modal-header{
  font-family: barlow;
  font-weight: bold;
  background-color: #F45B69;
  border-color: #F45B69;
  color: white;
  border-radius: none;
}
.modal-content .modal-body{
  font-family: barlow;
  font-weight: bold;
  color: white;
  background-color: #F45B69;
  border: none;
}
.modal-content .modal-footer{
  font-family: barlow;
  font-weight: bold;
  background-color: #F45B69;
  color: white;
  border: none;
}
#exampleModalLong{
  background-color: 0,0,0 .05;
  border-radius: 1px;
  border-color: white;

}
.modal-content .btn-confirmcall{
  color: red;
  background-color: white;
  border: solid red;
  width: 174px;
  height: 52px;
  font-size: 30px;
  font-weight: bold;
  font-family: barlow;
}
.modal-content .btn-cancelcall{
  color: white;
  background-color: black;
  border: solid white;
  width: 139px;
  height: 52px;
  font-size: 30px;
  font-weight: bold;
  font-family: barlow;
}
.modal-header .modal-title{
  font-size: 48px;
  font-weight: bold;
  font-family: barlow;
  align-items: flex-end;
  position: relative;
  color: #EBF2FA;
  padding-left: 119px;
}
.modal-body p{
  font-size: 20px;
  font-weight: medium;
  font-family: barlow;
  color: #EBF2FA;
  width: 343px;
  float: right;
  height: auto;
}
.modal-body img{
  width: 102px;
  height: 110px;
}
.top-logo h1{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-weight: bold;
  color: black;
  align-items: center;
}
.top-logo em{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: italic;
  font-weight: lighter;
  color: #EBF2FA;
  align-items: center;
}
.top-logo-gr h1{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-weight: bold;
  color: #E4FDE1;
  align-items: center;
}
.top-logo-gr em{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-style: italic ;
  font-weight: lighter;
  color: .top-logo em{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-style: italic ;
    font-weight: lighter;
    color: #EBF2FA;
    align-items: center;
  };
  align-items: center;
}
.callstatus h5{
  text-align: center;
  align-items: center;
  color: white;
  font-family: barlow;
  font-weight: lighter;
  font-style: italic;
}
.subheader-intro p{
  font-size: 30px;
  color: #E4FDE1;


}
.subheader-intro dl{
  font-size: 20px;
  font-weight: lighter;
}
.subheader-intro dl,hr,p{
  text-align: left;
  color: #E4FDE1;
  font-family: barlow;
  font-style: ;
}
.subheader-intro hr{
  margin: 0 auto;
  background-color: #E4FDE1;
  font-size: 30px;
}
.subheader-intro h3{
  text-align: left;
  color: #E4FDE1;
  font-family: barlow;
  padding: 0;
}
#spinner-border {
  border-color: white;
  width: 136px;
  height: 136px;

}
.emergency-message h4{
  color: #EBF2FA;
  font-family: barlow;
  font-style: italic;
  font-size: 25px;
  align-items: center;

}
.emergency-message h3{
  color: #EBF2FA;
  font-family: barlow;
  font-style:italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.emergency-message hr{
  margin: 0 auto;
  background-color: #EBF2FA;
  width: 850px;
  font-size: 30px;
}
.fivesteps h1{
  color: #EBF2FA;
  font-family: barlow;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}
.step-cards .card{
  min-height: 357px;
  border-radius: 1px;
  padding: 0px;
}
 .card-body p{
  color: black;
  font-family: barlow;
  font-size: 15px;
  line-height: 20px;
  border: none;

}
.card-body h5{
 color: #F45B69;
 font-family: barlow;
 font-size: 20px;
 text-align: left;
 border: none;
}
.card .card-body {
  background-color: #EBF2FA;
  padding: 5px;

}
.card{
  padding: 5px;
  background-color: #EBF2FA;

}
.-cards .card {
  width: 159px;
  height: 350px;
  padding: none;
  background-color: #EBF2FA;
  border-radius: 0;
}
.card-img-top{
  width: 159px;
  height: 114px;
  border: none;
  background-color: #EBF2FA;
}
h5.card-title {
  margin: 3px;
  font-family: barlow;
  font-size: 18px;
  font-weight: bold;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.card-title{
  margin: 0 ;

}
.microphone{
  width: auto;
  height: 119px;
  margin-bottom: 10px;

  -webkit-animation: pulse 1.5s infinite ease-in-out;
    -o-animation: pulse 1.5s infinite ease-in-out;
    -ms-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.5s infinite ease-in-out;
    animation: pulse 1.5s infinite ease-in-out;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.7; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}
.microphone-inactive{
  width: auto;
  height: 119px;
  margin-bottom: 10px;
  opacity: .3;
}
.question-intro h2{
  color: #E4FDE1;
  margin-top: 200px;
  align-items: center;
  font-family: barlow;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 150px;
  text-align: center;

}
.subheader-liability {

}
.subheader-liability p{
  font-size: 30px;

}
.subheader-liability dl{
  font-size: 20px;
  font-weight: lighter;
}
.subheader-liability dl,hr,p{
  text-align: left;
  color: #05668D;
  font-family: barlow;
  font-style: ;
}
.subheader-liability hr{
  margin: 0 auto;
  background-color: #05668D;
  font-size: 30px;
}
.subheader-liability h3{
  text-align: left;
  color: #05668D;
  font-family: barlow;
  font-weight: bold;
  padding: 0;
}
.top-logo-dg h1{
  text-align: center;
  font-size: 59px;
  font-family: barlow;
  font-weight: bold;
  color: #A5BE00;
  align-items: center;
}
.top-logo-dg em{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-weight: lighter;
    text-align: center;
    color: #A5BE00;
    align-items: center;
}

}
  .top-logo-db h1{
    text-align: center;
    font-size: 59px;
    font-family: barlow;
    font-weight: bold;
    color: #05668D;
    align-items: center;
  }

  .top-logo-db em{
    text-align: center;
    color: #05668D;
    font-size: 59px;
    font-family: barlow;
    font-style: italic;
    font-weight: lighter;
}
.top-logo em{
      text-align: center;
      font-size: 59px;
      font-family: barlow;
      font-style: italic ;
      font-weight: lighter;
      color:black;
      align-items: center;
    }
.top-logo-POA h1{
  font-family: barlow;
  text-align: left;
  align-items: center;
  font-size: 59px;
  font-weight: bold;
  color: #EBF2FA;
}
.top-logo-POA em{
  font-family: Barlow;
  font-size: 59px;
  text-align: left;
  font-weight: lighter;
  align-items: center;

}
.top-logo-POA h3{
  font-family: barlow;
  text-align: left;
  align-items: center;
  font-size: 25px;
  color: #A5BE00;

}
.POA-include{
  border: 5px solid;
  color:white;
  width: 292px;
  height: 420px;
  float: right;
  margin-top: 40px;
  margin-right: 50px;

}
  .subheader-db p{
    font-size: 25px;
    color:#05668D;
    margin-top: 29px;


  }
  .subheader-db h3{
    font-size: 30px;
    text-align: center;
    color:#05668D;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    font-family: barlow;
  }
  .subheader-db em{
    font-weight:  lighter;
    font-style: italic;
    font-family: barlow;

  }
  .subheader-dg p{
    font-size: 25px;
    color:#A5BE00;
    margin-top: 29px;


  }
  .subheader-dg h3{
    font-size: 30px;
    text-align: center;
    color:#A5BE00;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    font-family: barlow;
  }
  .subheader-dg em{
    font-weight:  lighter;
    font-style: italic;
    font-family: barlow;

  }
#intro-loved-one-pics img{
  height: 239px;
  align-items: center;
  width: auto;
}
#intro-addict-pic img{
  align-items:center;
  height:230px;
  width:530px;

}
#goodbyepic img{
  height: 317px;
  align-items: center;
  width: auto;
}
.step-text p{
  color: #EBF2FA;
  font-family: barlow;
  font-size: 19px;

}
.step-pic img{
  height: 65px;
  width: 70px;
}
.step-pic{
  align-items:center;
  height: 65px;
  width: 70px;
  margin-right: 0px;



}
.POA-include img{
  border: 0px;
  background-color: transparent;
  max-width: 75px;
  max-height: 75px;
}
.POA-include h5{
  color: #EBF2FA;
  align-items: right;
  font-family: barlow;
  margin-top: 35px;
  margin-left: 30px;
}
}
div.include-title {
  color: #EBF2FA;
  font-size: 20px;
  align-items: center;
  align-self: flex-end;
  font-family: barlow;
  font-weight: normal;
}
.POA-include{
  border-color:#EBF2FA;
}
.qr img{
  max-height: 145px;
  border: solid;
  border-color: #A5BE00;

}
.qr{
  max-height: 145px;
  max-width: 145px;
  float: right;
  margin-top: 10px;
  margin-right:50px;
}
.staystrong-text h4{
  font-size: 30;
  font-family: barlow;
  font-weight: lighter;
  font-style: italic;
}
/*
/* -----------------------questionnaire styles */

.questionnaire h3{
  color: #05668D;
  font-family: barlow;
  font-size: 45px;
  align-items: center;
  text-align: center;
}
.questionnaireAddict h3{
  color: #A5BE00;
  font-family: barlow;
  font-size: 45px;
  align-items: center;
  text-align: center;
}

.yesbtn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #A5BE00;
  height: 81px;
  width: 208px;
  margin-left: 50px;
  margin-right: 50px;
}
.nobtn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #EBF2FA;
  border-radius: 1px;
  border: #EBF2FA solid;
  border-width: 5px;
  background-color: #05668D;
  height: 81px;
  width: 208px;
  margin-left: 50px;
  margin-right: 50px;
}
.skipbtn{
  font-family: barlow;
  font-weight: bold;
  line-height: 1;
  font-size: 42px;
  color: #05668D;
  border-radius: 1px;
  border: #05668D solid;
  border-width: 5px;
  background: transparent;
  height: 81px;
  width: auto;
  margin-top: 50px;
}

.q1{
  display:block;
}
.q2{
  display: none;
}
.q3{
  display: none;
}
.q4{
  display: none;
}
.q5{
  display: none;
}
.q6{
  display: none;
}
.q7{
  display: none;
}
.q8{
  display: none;
}
.q9{
  display: none;
}
.q10{
  display: none;
}
.q11{
  display: none;
}
.q12{
  display: none;
}
.q13{
  display: none;
}
.q14{
  display: none;
}
.q15{
  display: none;
}
.q16{
  display: none;
}
.q17{
  display: none;
}
.q18{
  display: none;
}
.q19{
  display: none;
}
.q20{
  display: none;
}

.end{
  display: none;

}














.q1Addict{
  display:block;
}
.q2Addict{
  display: none;
}
.q3Addict{
  display: none;
}
.q4Addict{
  display: none;
}
.q5Addict{
  display: none;
}
.q6Addict{
  display: none;
}
.q7Addict{
  display: none;
}
.q8Addict{
  display: none;
}
.q9Addict{
  display: none;
}
.q10Addict{
  display: none;
}
.q11Addict{
  display: none;
}
.q12Addict{
  display: none;
}
.q13Addict{
  display: none;
}
.q14Addict{
  display: none;
}
.q15Addict{
  display: none;
}
.q16Addict{
  display: none;
}
.q17Addict{
  display: none;
}
.q18Addict{
  display: none;
}
.q19Addict{
  display: none;
}
.q20Addict{
  display: none;
}
